*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header-wraper{
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-top{
    display: flex;
    /* align-items: center; */
    padding-top: 30px;
    margin-bottom: 150px;
}

.logo{
    margin-right: 93px;
}

.contacts{
    margin-right: 72px;
}

.contacts-item{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 17px;
}

.contacts-item:last-child{
    margin-bottom: 0;
}

.contacts-list-img{
    margin-right: 7px;
}

.menu-list{
    display: flex;
}

.menu-list-item{
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.menu-list-item:active{
    border-bottom: 6px solid #E9920F;
}

.main-content{
    max-width: 836px;
    padding-bottom: 158px;
}

.main-title{
    font-size: 55px;
    font-weight: 900;
    color: #FCFBFB;
    margin-bottom: 17px;
}

.content-list{
    margin-bottom: 32px;
}

.content-list-item{
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #FCFBFB;
}

.content-list-item::before{
    content: url(../img/icons/list.svg);
    margin-right: 17px;
}

.button{
    font-size: 18px;
    font-weight: 500;
    color: #FCFBFB;
    padding: 14px 65px 14px 65px;
    border-radius: 3px;
    border: 3px solid #E9920F;
    cursor: pointer;
    
}

.button-registry{
    background-color: #E9920F;
    margin-right: 30px;
}

.button-individual{
    color: #FCFBFB;
}

.subtitle{
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
}

.advantages{
    background-image: url(../img/advantages-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.advantages-title{
    margin-bottom: 80px;
}

.subtitle span{
    color: #E9920F;
}

.andantages-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 158px;
}

.card-icon{
    text-align: center;
}

.step{
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}

.step:nth-child(2) {
    margin-left: 125px;
}

.step:nth-child(3) {
    margin-left: 265px;
}

.step:nth-child(4) {
    margin-left: 405px;
    margin-bottom: 71px;
}

.count{
    font-size: 80px;
    font-weight: 900;
    color: #E9920F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.count-text{
    font-size: 15px;
    font-weight: 400;
    color: #252525;
}

.count-list{
    font-size: 15px;
    font-weight: 400;
    color: #252525;    
}

.count-list-item a{
    color: #252525;  
}

.order{
    background-image: url(../img/order-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.order-wrap{
    padding-bottom: 60px;
}

.order-button{
    background-color: #E9920F;
    display: block;
    margin: 0 auto;
    font-weight: 400;
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #E9920F;
    z-index: 5;
    cursor: pointer;
    outline: none;
    max-width: 45px;
    max-height: 37px;
}

.slick-prev {
    left: 38px;
}

.slick-next {
    right: 38px;
}